@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
     <title>Определение квартала</title>
</head>
<body>
    <div>
        <form method="post" action="">
            <input type="text" name="date" value= @ViewData["date"]>
            <button>Получить номер квартала</button>
            <p>@ViewData["result"]</p>
        </form>
    </div>
</body>
</html>